<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Калькулятор</title>
<style>
td {padding:5px;}
button{margin: 5px;}
</style>
</head>
<body>
    <h2>Введите данные для расчета % по вкладу</h2>
    <div>
        <input type="hidden" id="depositId" />
        <p>
            Дата:<br/>
            <input id="depositDate" />
        </p>
        <p>
            Период:<br />
            <input id="depositPeriods" type="number" />
        </p>
         <p>
            Сумма вклада:<br />
            <input id="depositAmount" type="number" />
        </p>
         <p>
            Процент по вкладу:<br />
            <input id="depositRate" type="number" />
         </p>

         <p>
            <button id="saveBtn">Рассчитать</button>
            <button id="resetBtn">Сбросить</button>
        </p>
    </div>
    <table>
        <thead><tr>
            <th>Дата заявки |</th>
            <th>Период |</th>
            <th>Сумма вклада |</th>
            <th>Процент по вкладу |</th>
            <th>Ежемесячная прибыль |</th>
            <th>Итоговая прибыль</th>
        </tr></thead>
        <tbody>
        </tbody>
    </table>

    <script>
    // Получение имеющихся данных
        async function getDeposit() {
            // отправляет запрос и получаем ответ
            const response = await fetch("/deposit", {
                method: "GET",
                headers: { "Accept": "application/json" }
            });
            // если запрос прошел нормально
            if (response.ok === true) {
                // получаем данные
                const deposits = await response.json();
                const rows = document.querySelector("tbody");
                // добавляем полученные элементы в таблицу
                deposits.forEach(deposit => rows.append(row(deposit)));
            }
        }

        // Добавление калькуляции
        async function createCalculate(depositDate, depositPeriods,
                                       depositAmount, depositRate) {

            const response = await fetch("/calculate", {
                method: "POST",
                headers: { "Accept": "application/json", "Content-Type": "application/json" },
                body: JSON.stringify({
                    date: depositDate,
                    periods: parseInt(depositPeriods, 10),
                    amount: parseInt(depositAmount, 10),
                    rate: parseFloat(depositRate, 10)
                })
            });
            if (response.ok === true) {
                getDeposit()
            }
            else {
                const error = await response.json();
                console.log(error.message);
            }
        }

        // Сброс данных формы после отправки
        function reset() {
            document.getElementById("depositId").value =
            document.getElementById("depositDate").value =
            document.getElementById("depositPeriods").value =
            document.getElementById("depositAmount").value =
            document.getElementById("depositRate").value = "";
        }
        // Cоздание строки для таблицы
        function row(deposit) {

            const tr = document.createElement("tr");
            tr.setAttribute("data-rowid", deposit.id);

            const dateTd = document.createElement("td");
            dateTd.append(deposit.date);
            tr.append(dateTd);

            const periodsTd = document.createElement("td");
            periodsTd.append(deposit.periods);
            tr.append(periodsTd);

            const amountTd = document.createElement("td");
            amountTd.append(deposit.amount);
            tr.append(amountTd);

            const rateTd = document.createElement("td");
            rateTd.append(deposit.rate);
            tr.append(rateTd);

            const month_profitTd = document.createElement("td");
            month_profitTd.append(deposit.month_profit);
            tr.append(month_profitTd);

            const final_profitTd = document.createElement("td");
            final_profitTd.append(deposit.final_profit);
            tr.append(final_profitTd);

            const linksTd = document.createElement("td");
            tr.appendChild(linksTd);

            return tr;
        }
        // Cброс значений формы
        document.getElementById("resetBtn").addEventListener("click", () =>  reset());

        // Отправка формы
        document.getElementById("saveBtn").addEventListener("click", async () => {

            const id = document.getElementById("depositId").value;
            const date = document.getElementById("depositDate").value;
            const periods = document.getElementById("depositPeriods").value;
            const amount = document.getElementById("depositAmount").value;
            const rate = document.getElementById("depositRate").value;

            await createCalculate(date, periods, amount, rate);
        });
    </script>
</body>
</html>